/* GENERAL STYLE */
body {font-family: 'Lato', sans-serif;font-size: 20px;font-weight: 300}
img {width:100%}
a, a:hover, a:active, a:focus {color:unset;text-decoration:none}
html {margin-top:0px !important;}
strong {color:#9A8F6B}
.t-gold {color:#9A8F6B}
.mt-40 {margin-top:60px;}
.mb-40 {margin-bottom: 60px}
.pt-40 {padding-top:40px;}
.pb-40 {padding-bottom: 40px}
.pl-40 {padding-left:40px}
.pr-40 {padding-right: 40px}
.p-40 {padding:40px}
.p-100 {padding:0px 100px}
h1, h2, h3 {font-weight: bold;color:#3E3E3D;letter-spacing: 1px;}
h1 {font-size:26px}
h2 {font-size:20px;letter-spacing: 2px;}
.lblue {background-color:#F1F1F1}
.p0 {padding:0px}
.campo::placeholder {color: black;font-size: 14px}
.campo:focus {outline:none !important;}
div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {border: none !important;}
.inputsubmit:focus {
    outline: none !important;
}

/* HEADER STYLE */
header {
    background-color: #3E3E3D;
    padding-top: 40px;
    padding-bottom: 10px;
}
.menu-top {
    color: white;
    list-style: none;
    text-transform: uppercase;
    float: right;
    padding-top: 15px;
    font-size: 15px;
}
.logo-top img {
    max-width: 210px;
}
.menu-top li {
    display: inline;
    padding: 0px 25px 0px 25px;
}
.menu-top li:first-child {
    color: white;
} 
.menu-top li:last-child {
    color: #9A8F6B;
}

/* BODY STYLE */
.desde {
    padding-top: 10px;
}
.top-line {
    padding-top: 27px;
    border-top: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin-top: 20px;
}
.mapa {
    max-width: 260px;
    float: left;
    margin-left: 20px;
    padding: 20px;
}
.campo {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 40px;
}
.submit-wrap {
    text-align: center;
}
.inputsubmit {
    background-color: #9A8F6B;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 45px;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}
.contact-form {
    margin-top:10px;
    padding-left: 65px;
}
.icon {
    padding: 28px;
    text-align: center;
    font-size: 16px;
    color: #666;
    line-height: 20px;
}
.icon-img {
    margin-bottom: 10px;
}
#btn-mw {
    background-color: #9A8F6B;
    color: white;
    border-radius: 0px;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}
#icons {
    padding: 40px;
    padding-right: 170px;
    padding-left: 170px;
    padding-bottom: 0px;
}
.txt-pasos {
    padding-top:20px;
    padding-bottom:10px;
}


/* FOOTER STYLE */
.menu-bottom {
    color: white;
    list-style: none;
    float: right;
    font-size: 15px;
    padding-top: 0px;
    width: 100%;
}
.logo-bottom {
    max-width:210px;
}
.menu-bottom li {
    display: inline;
    padding: 0px 30px 0px 30px;
    border-right: 1px solid white;
}
.menu-bottom li:last-child {
    padding-right: 0px;
    border-right: 0px;
}
footer {
    background-color: #3E3E3D;
    padding-top: 45px;
    padding-bottom: 30px;
}
.cc {
    color:#979797;
    font-size: 15px;
}
.btn-mobile {
    padding: 4px 14px !important;
    background-color: #9A8F6B;
    color: white !important;
    border-radius: 10px;
    font-size: 11px;
    text-transform: none;
}

/*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 979px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {
    body {font-size: 11px}
    .menu-top {padding-left: 0px;font-size: 18px;padding-top: 0px;}
    .menu-top li {padding: 0px 10px 0px 5px;}
    .mapa {margin-right: 0px;}
    #btn-mw {font-size: 13px;;width: 100%;}
    .menu-bottom li {display: block;border:none;padding:0px;text-align: center}
    .menu-bottom {padding-left: 0px;font-size: 12px;margin-bottom: 0px;}
    .cc {text-align: center;font-size: 13px;padding-left: 20px;padding-right: 20px;}
    footer {text-align:center;padding-top: 30px;padding-bottom: 15px;}
    .icon {padding:5px}
    .p-100 {padding:0px}
    h1 {font-size:16px;}
    h2 {font-size:15px;}
    .mt-40 {margin-top:25px;}
    .mb-40 {margin-bottom:40px}
    .inputsubmit {padding: 2px 20px 2px 20px;border-radius: 8px;font-size: 16px;}
    .mapa {margin-right: 0px;float: unset;padding-top: 45px;}
    #icons {padding:20px;padding-top: 30px;padding-bottom: 5px;}
    header {position: fixed;width: 100%;top: 0;left: 0;padding-top:20px;z-index: 99999;}
    #top {padding-top: 40px;}
    .logo-top img {max-width: 135px;}
    .top-line {padding-top: 10px;margin-top: 0px;}
    .contact-form {padding-left: 10px;}
    .wpcf7-form-control-wrap.Email {margin-bottom: 10px;}
    .wpcf7-form-control-wrap.Email input {margin-bottom: 25px;}
    .menu-bottom-2 {display: inline-block;padding-left: 0px;color: white;width: 100%;display:inline-flex;}
    .menu-bottom-2 li {margin-left: 0px;width: 50%;float: left;text-align: center;}
}

@media only screen and (max-width : 320px) {

}